<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-container">
    <h2>Crie sua conta no Emotrack</h2>
    <p>Preencha os campos abaixo para continuar</p>

    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input [(ngModel)]="fullName" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirme a Senha</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="register()">Cadastrar</ion-button>
  </div>
</ion-content>