<ion-header>
  <ion-toolbar style="background-color: #f8f8f8;">
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #333;">Histórico de Humor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #eaeaea;">
  <ion-list *ngIf="historico.length > 0; else noData">
    <ion-item *ngFor="let item of historico" class="historico-item" class="historico-item">
      <div class="historico-content">
        <p class="historico-date">{{ item.timestamp.toDate().toLocaleDateString('pt-BR') }} - Nota: {{ item.mood }}</p>
        <p class="historico-text">Grato por: {{ item.gratitude }}</p>
        <p class="historico-text">Intenções: {{ item.intentions }}</p>
        <p class="historico-text">Tarefas: {{ item.importantTasks }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <p>Nenhum dado encontrado.</p>
  </ng-template>
</ion-content>