<ion-header>
  <ion-toolbar style="background-color: #f8f8f8;">
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #333;">Histórico de Humor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #eaeaea;">
  <ion-list>
    <ion-item class="historico-item">
      <div class="historico-content">
        <p class="historico-date">12/10/2024 - Nota: 8</p>
        <p class="historico-text">Grato por: Família, Trabalho, Saúde</p>
        <p class="historico-text">Intenções: Ser mais produtivo, paciente e saudável</p>
        <p class="historico-text">Tarefas: Finalizar projeto, Caminhada, Ligar para mãe</p>
      </div>
    </ion-item>

    <ion-item class="historico-item">
      <div class="historico-content">
        <p class="historico-date">11/10/2024 - Nota: 7</p>
        <p class="historico-text">Grato por: Amigos, Comida, Tempo livre</p>
        <p class="historico-text">Intenções: Relaxar, Ler um livro, Evitar estresse</p>
        <p class="historico-text">Tarefas: Ler, Meditar, Preparar refeições</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
