<ion-header>
  <ion-toolbar style="background-color: #f8f8f8;">
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #333;">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #eaeaea;">
  <ion-list>
    <ion-item>
      <ion-label class="dica-label">
        "Pratique a gratidão diariamente para cultivar um mindset positivo."
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="dica-label">
        "Tire pausas curtas durante o trabalho para manter a produtividade."
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="dica-label">
        "Estabeleça metas claras para o dia e foque nas mais importantes."
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
