<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mais" href="/tabs/mais">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>mais</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
