.option-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #d3d3d3;
    height: 100vh;
    color: #333;
}

.option-item {
    flex: 0 0 48%;
    margin-bottom: 20px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}


.option-item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

a {
    color: white;
    font-weight: bold;
}

.dicas{
    height: 250px;
}

.historico{ 
    height: 150px;
}

.diario{
    height: 150px;
}

.teste{
    height: 250px;
}