.thermometer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
  }
  
  .vertical-range {
    -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
  background: linear-gradient(to right, #ff0000, #ffff00, #00ff00);
  transform: rotate(-90deg); /* Faz o controle ser interativo na vertical */
  margin: 0;
  padding: 0;
  border-radius: 10px;
  }

  .vertical-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .vertical-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .thermometer-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  