<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Dê uma nota para o seu humor</ion-label>
    <div class="thermometer">
      <input type="range" min="1" max="10" step="1" class="vertical-range" [(ngModel)]="userMood" (ionChange)="onMoodChange($event)">
      <div class="thermometer-label">{{ userMood }}</div>
    </div>
  </ion-item>
  


  <ion-list>
    <ion-item>
      <ion-label>Três coisas pelas quais você é grato hoje</ion-label>
      <ion-textarea placeholder="Escreva aqui..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Intenções para o seu dia</ion-label>
      <ion-textarea placeholder="Escreva aqui..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Tarefas mais importantes do dia</ion-label>
      <ion-textarea placeholder="Escreva aqui..."></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
