<ion-content>
  <div class="option-container">
    <div class="image-container" [style.background-image]="'url(' + getImageUrl('blur1.jpg') + ')'">
      Dicas
    </div>
    <div class="image-container" [style.background-image]="'url(' + getImageUrl('blur2.jpg') + ')'">
      Histórico
    </div>
    <div class="image-container" [style.background-image]="'url(' + getImageUrl('blur3.jpg') + ')'">
      Teste Perfil Comportamental
    </div>
    <div class="image-container" [style.background-image]="'url(' + getImageUrl('blur4.jpg') + ')'">
      Diário
    </div>
  </div>
</ion-content>
