<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dê uma nota para o seu humor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

    Dê uma nota para o seu humor
    <ion-picker>
      <ion-picker-column value="javascript">
        <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
        <ion-picker-column-option value="10">10</ion-picker-column-option>
        <ion-picker-column-option value="9">9</ion-picker-column-option>
        <ion-picker-column-option value="8">8</ion-picker-column-option>
        <ion-picker-column-option value="7">7</ion-picker-column-option>
        <ion-picker-column-option value="6">6</ion-picker-column-option>
        <ion-picker-column-option value="5">5</ion-picker-column-option>
        <ion-picker-column-option value="4">4</ion-picker-column-option>
        <ion-picker-column-option value="3">3</ion-picker-column-option>
        <ion-picker-column-option value="2">2</ion-picker-column-option>
        <ion-picker-column-option value="1">1</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>


    <ion-list>
      <ion-item>
        <ion-textarea label="Comece escrevendo três coisas pelas quais você é grato hoje. Podem ser coisas simples como uma boa noite de descanso, o clima, ou algo específico que está aguardando ansiosamente no dia." placeholder="Type something here"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea [readonly]="true" label="Anote três intenções para o seu dia. Pense em como você quer se comportar, o que quer alcançar, e como quer se sentir ao final do dia." placeholder="Can't edit this"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea [disabled]="true" label="Faça uma breve lista das tarefas mais importantes do dia, priorizando aquelas que são cruciais. Isso inclui compromissos de trabalho, pessoais ou tarefas que você não quer esquecer." placeholder="Can't type here"></ion-textarea>
      </ion-item>
    </ion-list>

</ion-content>
